.signInUp{
    padding-top: 1em;
    width: 35rem;
    height: unset;
    border-radius: 2rem;
    margin: auto;
}
.signInUp input::placeholder{
    color: var(--color-gray-2);
}
.logo{
    font-family: 'Lobster', cursive;
    color: var(--color-blue);
    font-size: 1rem;
}
.loginForm,.joinForm{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
.join,.login{
    font-weight: 600;
    color:var(--color-blue);
}
.tight input:not(input[type="submit"]){
    margin: 0.1em 0;
    padding:0.3em 0.7em;
}
.err{
    margin-top: 0.4em;
    color: var(--color-red);
}
.loginBtn,.joinBtn{
    margin-top: 1em;
    background-color: var(--color-blue);
    color: white;
    font-size: 1rem;
    padding: 0.7em 2em;
    border-radius: 0.5em;
}
:is(.loginBtn,.joinBtn):hover{
    background-color: var(--color-dark-blue);
}
.line{
    margin-top: 1em;
    height: 1px;
    width:100%;
    background-color: var(--color-gray-2);
}
.socialLogin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}
.social{
    padding: 0.6em 1em;
    border-radius: 0.25em;
    font-size: 0.8rem;
    margin-top: 0.7em;
    display: flex;
    align-items: center;
    font-weight: 700;
    box-shadow: var(--shadow-1);
}
.github{
    background-color: var(--color-gray-4);
    color:white;  
}
.kakao{
    background-color: #FEE500;
    color:#191919;
}
.social i{
    font-size: 1.5rem;
    margin-right: 0.5em;
}
.social img{
    height:1.2rem;
    margin-right: 0.5em;
}

@media screen and (max-width:767px) {
    .signInUp{
        width: 100%;
        padding: 2em;
    }
}

@media screen and (max-width:550px) {
    .signInUp{
        padding:1em;
    }
    .socialLogin{
        grid-template-columns: 1fr;
    }
    .social{
        justify-content: center;
    }
}


