.home{
   width: 100%;
   min-height: 20rem;
}
.home h2{
    margin-bottom: 0.5em;
    margin-left: 0.2em;
}
.posts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}