.posts{
    padding: 2em 0 1em 0;
}
.posts h1{
    font-size: 2rem;
    padding: 0.3em;
    margin-bottom: 0.5em;
    color: rgb(66, 66, 66);
    border-bottom: var(--color-gray-2) solid 1px;
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
}
.header i{
    color:var(--color-gray-2);
}
.header button{
    font-size: 1.2rem;
    background-color: transparent;
    padding: 0.5em;
}
.navBtn{
    text-align: center;
}
.navBtn button{
    border-radius: 50%;
    color: white;
    background-color:var(--color-gray-2);
    padding:0;
    width: 1.5rem;
    height:1.5rem;
    margin:0.1em;
    transition: all 150ms ease-in;
}
.navBtn button:hover{
    background-color: var(--color-blue);
}