.section{
    position: relative;
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice{
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding:3em;
    border-radius: 1em;
}
.notice h2{
    text-align: center;
}
.notice h2 i{
    color:var(--color-orange);
}
.notice p{
   margin:0.7em 0;
   font-size: 0.9rem;
}
.btns{
    background-color: white;
    padding: 1em;
    text-align: start;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btns button{
    background-color: transparent;
    margin-bottom: 0.5em;
    font-size: 0.8rem;
    color: var(--color-gray-3);
    text-decoration: underline;
}
.btns small{
    padding-left: 2em;
    font-size: 0.65rem;
}