.editPost{
    background-color: whitesmoke;
    padding: 1.5em;
    border-radius: 1em;
    position: relative;
}
.back{
    position: absolute;
    line-height: 2rem;
    top:2em;
    right:2em;
    width:2rem;
    height:2rem;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: var(--color-gray-2);
    color: white;
}
.back:hover{
    background-color: var(--color-gray-3);
}
.title{
    border-left: 0.4em solid var(--color-yellow-green);
    padding-left: 0.8em;
    margin-bottom: 0.5em;
}
.title input{
    width: 90%;
    background-color: transparent !important;
    outline: none;
    padding: 0 !important;
    font-size: 1.5rem !important;
    margin:0 !important;
}
.title input::placeholder{
    font-size: 1.5rem;
}
.editForm{
    display: flex;
    flex-direction: column;
}
.folder{
    font-size: 0.7rem;
    padding: 0.4em;
    border:1px solid lightgray;
    outline: none;
}
.folder option{
    font-size: 0.8rem;
}
.description{
    outline: none;
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
}
.editForm .submit{
    margin-top: 1em;
    padding: 1em;
    font-size: 0.9rem;
    background-color: var(--color-dark-green) ;
    border-radius: 0.2em;
    font-weight: 500;
    color: white;
}

.tagContainer{
    display: flex;
    padding: 0.3em 0 0 0.3em;
    margin: 0.3em 0;
    flex-wrap: wrap;
}
.tag{
    background-color: rgb(164, 179, 34);
    color: white;
    padding: 0.2em 0.5em;
    font-size: 0.8rem;
    border-radius: 0.8em;
    margin: 0 0.5em 0.5em 0;
}
.tagContainer input{
    outline: none;
    margin: 0 0.5em 0.5em 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
}