.postsContainer{
    height: 100%;
}
.postsContainer h1{
    font-size: 2rem;
    padding: 0.3em;
    color: rgb(66, 66, 66);
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    border-bottom: var(--color-gray-2) solid 1px;
}
.header i{
    color:var(--color-gray-2);
}
.header button{
    font-size: 1.3rem;
    background-color: transparent;
    padding: 0.5em;
    transition: all 100ms ease-in;
}
.header button:hover{
    transform: scale(1.05);
}
.posts{
    margin-top: 1em;
}
.editBtn i{
    transition: all 100ms ease-in;
}
.highlight i{
    color: var(--color-blue);
}