.postsContainer{
    position: relative;
    min-height: 85%;
}
.postsContainer h1{
    font-size: 2rem;
    padding: 0.3em;
    color: rgb(66, 66, 66);
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    border-bottom: var(--color-gray-15) solid 1.5px;
}
.header i{
    color:var(--color-gray-2);
}
.header button{
    font-size: 1.2rem;
    background-color: transparent;
    padding: 0.5em;
    transition: all 100ms ease-in;
}
.header button i:hover{
    color:var(--color-blue);
}
.posts{
    margin-top: 1em;
}
.editBtn i{
    transition: all 100ms ease-in;
}
.highlight i{
    color: var(--color-blue);
}