.postDetail{
    padding-top: 0.2em;
    min-height: 85%;
    position: relative;
}
.postDetail h2, .tags{
    margin-bottom: 0.5em ;
}
.back{
    position: absolute;
    line-height: 2rem;
    top:1em;
    right:1.5em;
    width:2rem;
    height:2rem;
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--color-gray-15);
    color: white;
}
.back:hover{
    background-color: var(--color-gray-2);
}
.postDetail h2{
    width: 93%;
}
.description{
    background-color: white;
    padding: 2em;
    margin-top: 1em;
    min-height: 13rem;
    outline: none;
    overflow-y: hidden;
}
.metaAndBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.meta,.meta a{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}
.meta span{
    margin-left: 0.2em;
}
.meta img{
    width:1.5rem;
    height:1.5rem;
    border-radius: 50%;
    margin-right: 0.5em;
}
.btns{
    display: flex;
}
.btns button{
    background-color: transparent;
    padding: 0;
    margin-right: 0.5em;
    border-radius: 50%;
}
.btns i{
    font-size: 0.9rem;
    padding: 0.5em;
    color: var(--color-blue);
    background-color: white;
    border-radius: 50%;
    transition: all 150ms ease-in;
}
.btns button i:hover{
    transform: scale(1.05);
    background-color: var(--color-blue);
    color: white;
}
.tagContainer{
    display: flex;
    padding-top:0.2em;
    flex-wrap: wrap;
}
.tag{
    background-color: rgb(164, 179, 34);
    color: white;
    padding: 0.2em 0.6em;
    font-size: 0.75rem;
    border-radius: 0.8em;
    margin: 0 0.3em 0.3em 0;
}
.postingMeta{
    padding:12px 15px;
    border-bottom: 1px solid var(--color-gray-15);
}
.quillEditor{
    background-color: white;
    margin-top: 1em;
}
.quillEditor img{
    max-height:20rem;
    max-width: 100%;
}
@media screen and (max-width:992px) {
   .quillEditor{
    padding:0;
    }
}