.postDetail h2,.postDetail small, .tags{
    margin-bottom: 0.5em ;
}
.postDetail{
    padding: 1em;
    height: 100%;
}
.postDetail h2{
    border-left: 0.4em solid var(--color-yellow-green);
    padding-left: 0.8em;
}
.description{
    background-color: white;
    padding: 2em;
    margin-top: 1em;
    min-height: 13rem;
    outline: none;
    overflow-y: hidden;
}
.metaAndBtns{
    display: flex;
    justify-content: space-between;
}
.btns{
    display: flex;
}
.btns button{
    background-color: transparent;
    padding: 0;
    margin-right: 0.5em;
    border-radius: 50%;
}
.btns i{
    font-size: 0.9rem;
    padding: 0.5em;
    color: var(--color-blue);
    background-color: white;
    border-radius: 50%;
    transition: all 150ms ease-in;
}
.btns button i:hover{
    transform: scale(1.05);
    background-color: var(--color-blue);
    color: white;
}
.tagContainer{
    display: flex;
    padding-top:0.3em;
    flex-wrap: wrap;
}
.tag{
    background-color: rgb(164, 179, 34);
    color: white;
    padding: 0.2em 0.5em;
    font-size: 0.8rem;
    border-radius: 0.8em;
    margin: 0 0.5em 0.5em 0;
}
