.edit{
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding:1em 0;
}
.edit input,.edit textarea{
    border:1px solid var(--color-gray-2) !important;
}
.edit *{
    position: relative;
}
.edit h2{
    margin-bottom: 0.5em;
    border-left: 0.8rem solid var(--color-dark-green);
    padding-left: 0.7em;
}
.editUser,.editBlog{
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-gray-2);
}
.editPwd,.editUser{
    margin-top: 1em;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}
.editBtn{
    position:absolute;
    font-size: 0.8rem;
    top:0.5em;
    right:0.5em;
    padding:0.2em 0.7em;
    color:var(--color-gray-3);
    background-color: transparent;
}
.edit small{
    margin: 0.4em 0;
    color: var(--color-red);
}
.withdraw{
    padding: 1em;
    margin:1em 0;
    font-size: 0.8rem;
    background-color: var(--color-dark-green);
    border-radius: 0.5em;
    color:white;
}
.uploader {
    width: 11rem;
}
@media screen and (max-width:767px) {
    .edit{
        margin:auto;
        width: 85%;
    }
}