.join{
    width: 25rem;
    border-radius: 1em;
}
.joinForm{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
.join small{
    margin-top: 0.4em;
    color: var(--color-red);
}

.joinBtn{
    margin-top: 1em;
    background-color: var(--color-blue);
    color: whitesmoke;
    font-size: 1rem;
    padding: 0.7em 2em;
    border-radius: 0.5em;
}
.joinBtn:hover{
    background-color: var(--color-dark-blue);
}