.edit{
    width: 25rem;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}
.edit form{
    display: flex;
    flex-direction: column;
}
.edit h1{
    margin-bottom: 0.5em;
    border-left: 0.8rem solid var(--color-dark-green);
    padding-left: 0.7em;
}
.edit label{
    margin-top: 1em;
}
.edit button{
    padding: 0.7em 0;
    font-size: 0.8rem;
    border-radius: 0.5em;
    background-color: var(--color-dark-green);
    color:white;
}
.edit small{
    margin: 0.4em 0;
    color: var(--color-red);
}