.google{
    height: 3rem;
    padding: 0;
    border-radius: 0.25em;
    font-size: 0.8rem;
    margin-top: 0.7em;
    display: flex;
    align-items: center;
    font-weight: 600;
    box-shadow: var(--shadow-1);
    background-color: white;
    color:var(--color-gray-3);  
}
.google img{
    height:1.12rem;
    margin-left: 20px;
    margin-right: 23px;
}

@media screen and (max-width:550px) {
    .google{
        justify-content: center;
    }
}