.sidebar{
    padding: 2em 1em 2em 2em;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    font-weight: 600;
    border-right: 1px solid rgb(211, 211, 211);
}
.sidebar li,.addBtn,.posts,.editForm{
    font-size: 0.9rem;
    padding: 0.4em 0;
    width: 100%;
    text-align: start;
    background-color: transparent;
}
.posts{
    font-size: 1rem;
    font-weight: 1000 !important;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.folder{
    color: var(--color-gray-3);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: all ease-in 150ms;
}
.folder i{
    margin-left: 0.5em;
    font-size: 0.8rem;
}
.folder div{
    display: flex;
    align-items: center;
}
.delete{
    font-size: 1rem !important;
}
.editForm{
    display: flex;
    justify-content: space-between;
}
.editForm button{
    background-color: transparent;
    color: var(--color-gray-3);
}
.editForm input{
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    border:none;
    outline:none;
    color: var(--color-gray-3);
    line-height: 1rem;
    font-size: 1rem !important;
}
.editForm input::placeholder{
    color: var(--color-gray-2);
    font-size: 1rem;
}
.posts{
    color: var(--color-blue);
    font-weight: 600;
}
.addBtn:hover,.folder:hover{
    padding-top: 1.2em;
}
.addBtn{
    color: var(--color-gray-3);
    font-weight: 600;
    transition: 100ms all ease-in;
}
.addBtn i{
    color: var(--color-gray-3);
    margin-right: 1em;
}
.green{
    color: var(--color-green);
}
.mouseOut{
    pointer-events: none;
    opacity: 0;
}
.mouseOver{
    transition: all 500ms ease-in;
}
.mouseOver i{
    color: var(--color-gray-2);
    padding: 0.2em;
}


@media screen and (max-width:992px) {
    .sidebar{
        background-color: var(--color-gray-4);
        padding-top: 5.5rem;
        position: fixed;
        top:0;
        height: 0;
        width: 100%;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 300ms ease-in;
    }
    .folder{
        color: var(--color-gray-2);
        font-weight: 500;
    }
    .open{
        height: 20rem;
        opacity: 100;
        pointer-events: all;
        z-index: 5;
    }
}