.sidebar{
    background-color: var(--color-gray-4);
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 60%;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar li{
    padding: 0.4em 1em;
    font-weight: 300;
    color: whitesmoke;
    cursor: pointer;
}
.sidebar li:hover:not(.posts){
    background-color: var(--color-gray-3);
}
.posts a{
    color: var(--color-blue);
    font-weight: 500;
}
