.postEditor{
    padding:1em;
    border-radius: 1em;
    position: relative;
}
.back{
    position: absolute;
    line-height: 2rem;
    top:2em;
    right:2em;
    width:2rem;
    height:2rem;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: var(--color-gray-2);
    color: white;
}
.back:hover{
    background-color: var(--color-gray-3);
}
.title{
    border-left: 0.4em solid var(--color-yellow-green);
    padding-left: 0.8em;
    margin-bottom: 0.5em;
}
.title input{
    width: 90%;
    background-color: transparent !important;
    outline: none;
    padding: 0 !important;
    font-size: 1.7rem !important;
    margin:0 !important;
    font-weight: 1000;
    font-family: 'NanumSquareRound', sans-serif !important;
}
.title input::placeholder{
    font-size: 1.5rem;
}
.folder{
    width: 100%;
    font-size: 0.8rem;
    padding: 0.55em 1em;
    border:1px solid lightgray;
    outline: none;
    margin-bottom: 1em;
    border-radius: 0.5em;
}
.folder option{
    font-size: 0.8rem;
}

.submit{
    margin-top: 1em;
    padding: 0.7em;
    font-size: 1rem;
    color: white;
    background-color: var(--color-dark-green);
    border-radius: 0.2em;
    font-weight: 600;
    width: 100%;
}

.tagContainer{
    display: flex;
    padding: 0.3em 0 0 0.3em;
    margin: 0.3em 0;
    flex-wrap: wrap;
}
.tag{
    background-color: var(--color-dark-green);
    color: white;
    padding: 0.2em 0.5em;
    font-size: 0.8rem;
    border-radius: 0.8em;
    margin: 0 0.5em 0.5em 0;
}
.tagContainer input{
    outline: none;
    margin: 0 0.5em 0.5em 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
}
