.post{
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    border-bottom: 1px solid var(--color-gray-2);
    cursor: pointer;
    transition: all 150ms ease-in;
    background-color: whitesmoke;
}
.post:hover{
    box-shadow: var(--shadow-1);
    transform: scale(1.003);
}
.tagContainer{
    display: flex;
    padding-top:0.3em;
    flex-wrap: wrap;
}
.tag{
    background-color: rgb(164, 179, 34);
    color: white;
    padding: 0.2em 0.5em;
    font-size: 0.8rem;
    border-radius: 0.8em;
    margin: 0 0.5em 0.5em 0;
}

.delete{
    font-size: 1rem;
    position: absolute;
    top: 0.5em;
    background-color: transparent;
    right: 0.8em;
    padding: 0.5em;
    color:var(--color-gray-2);
}
.delete:hover{
    color: var(--color-gray-3);
}