.login{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25rem;
    border-radius: 1em;
    padding: 3em;
}
.join{
    font-weight: 600;
}
.err{
    margin-top: 0.4em;
    color: var(--color-red);
}
.loginBtn{
    margin-top: 1em;
    background-color: var(--color-blue);
    color: white;
    font-size: 1rem;
}
.loginBtn:hover{
    background-color: var(--color-dark-blue);
}