.app{
    display: flex;
    height: 100vh;
    background-color: var(--color-beige);
}
.nav{
    width: 15rem;
}
.content{
    padding: 2em 4em;
    min-height: 20rem;
    width: 100%;
    overflow-y: auto;
}
.content,.nav{
    margin-top: 4.5rem;
}
footer{
    color: var(--color-gray-3);
    text-align: center;
    margin-top: 2.5em;
    font-size: 0.8rem;
}
.sideToggle{
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: transparent;
    color: var(--color-blue);
    font-size: 1.3rem;
}
.content::-webkit-scrollbar{
    width: 0.5em;
}
.content::-webkit-scrollbar-track{
    background-color: var(--color-beige);
}
.content::-webkit-scrollbar-thumb{
    background-color: var(--color-gray-1);
    border-radius: 1em;
}
@media screen and (max-width:992px) {
    .app{
        flex-direction: column;
        overflow-y: auto;
    }
    .nav{
        margin: 0;
    }
    .app::-webkit-scrollbar{
        width: 0;
    }
    .content,.nav{
        width: 100%;
    }
    .content::-webkit-scrollbar{
        width: 0;
    }
}
@media screen and (max-width:767px) {
    .content{
        padding: 3em 1.5em;
    }
}