.app{
    display: flex;
}
.nav{
    position: fixed;
    width: 17rem;
    height: 100vh;
    overflow-y: scroll;
}
.nav::-webkit-scrollbar{
    display: none;
}
.content{
    padding: 1em 3em;
    margin-left: 17rem;
    height: 100vh;
}
footer{
    background-color: var(--color-gray-3);
    padding: 1em;
    font-size: 0.8rem;
    text-align: center;
    color: var(--color-gray-2);
}