@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    /* color */
    --color-blue:#1d82e0;
    --color-dark-blue:#1277d6;
    --color-green:rgb(141, 255, 65);
    --color-yellow-green:rgb(221, 219, 108);
    --color-dark-green:rgb(164, 179, 34);
    --color-orange-yellow:rgb(226, 167, 58);
    --color-orange:rgb(214, 112, 64);
    --color-red:rgb(221, 35, 35);
    --color-beige:rgb(248, 248, 248);
    --color-gray-1:#f1f1f1;
    --color-gray-2:#c7c7c7;
    --color-gray-3:#6e6d6a;
    --color-gray-4:#333230;
    --color-gray-trans:rgba(128, 128, 128, 0.479);
    --color-black:rgb(107, 107, 107);
   
    /* shadow*/
    --shadow-1: 4px 4px 4px #c7c7c7;
}

*{
    box-sizing: border-box;
    font-family: 'NanumSquareRound', sans-serif;
    line-height: 160%;
}
input{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
html{
    font-size: 18px;
}
body{
    margin: 0;
    overflow-y: hidden;
}
p,textarea,div,input{
    color: var(--color-gray-3);
    margin: 0;
}
textarea{
    width: 100%;
    resize: none;
}
h1,h2,h3{
    margin: 0;
    font-weight: 1000;
    color: var(--color-black);
}
h1{
    font-size: 2.3rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color:inherit;
}
i{
    transition: 100ms ease-in transform;
}
i:hover{
    transform: scale(1.03);
}
ul{
    list-style: none;
    padding-left: 0;
    margin:0;
}

label{
    margin-bottom: 0.3em;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}
input:not(input[type="submit"]),textarea{
    border:none;
    padding: 0.4em 0.7em;
    outline-color:var(--color-blue);
    font-size: 0.9rem;
    background-color: white;
    border-radius: 0.2em;
    margin:0.4em 0;
}
button,input[type="submit"]{
    cursor: pointer;
    border: none;
}
#naverIdLogin{
    display: none;
}
.react-tooltip-lite{
    background:var(--color-gray-4);
    color: white;
    border-radius: 0.5em;
    font-size: 0.8rem;
}
.react-tooltip-lite-arrow{
    color:var(--color-gray-4);
}
::placeholder{
    font-size: 0.8rem;
}
@media screen and (max-width:960px){
    html{
        font-size: 17px;
    }
}
@media screen and (max-width:680px){
    html{
        font-size: 16px;
    }
}

