.naver img{
    height:0.75rem;
    margin-left: 23px;
    margin-right: 25px;
}
.naver{
    padding: 0;
    height: 3rem;
    border-radius: 0.25em;
    font-size: 0.8rem;
    margin-top: 0.7em;
    display: flex;
    align-items: center;
    font-weight: 600;
    box-shadow: var(--shadow-1);
    background-color: #03C75A;
    color: white;
}

@media screen and (max-width:550px) {
    .naver{
        justify-content: center;
    }
}